.layout__column-right {
  flex-basis: 52.9%;
  flex-grow: 1;
  padding: {
    left: 5.1%;
    right: 1.2%;
  }
}

@media screen and (max-width: 992px) {
  .layout__column-right {
    padding: {
      left: 0;
      right: 0;
    }
  }
}
