.layout__column-left {
  flex-basis: 34.5%;
  flex-grow: 1;
  padding: {
    left: 5.1%;
    right: 1.2%;
    top: 1.15%;
  }
}

@media screen and (max-width: 992px) {
  .layout__column-left {
    flex-basis: 100%;
    padding: {
      left: 0;
      right: 0;
    }
  }
}
