include ../section-header/section-header

mixin contact(list)
  mixin contactEntry(title, data)
    .contact__entry
      h4.contact__entry-title #{title}
      .contact__entry-data #{data}

  section.contact
    +section-header('contact', getAssetUrl('/contact/contact-icon.png'), 0.6)

    .contact__list
      each entry in list
        +contactEntry(entry.title, entry.data)
