include ../circle-image/circle-image

mixin portrait(options)
  -
    var name = options.name
    var surname = options.surname
    var career = options.career
    var photoUrl = options.photoUrl

  header.portrait
    .portrait__photo
      +circle-image(photoUrl)

    h1.portrait__info
      span.portrait__name #{name}
      br
      span.portrait__surname #{surname}
      br
      h2.portrait__profession #{career}
