.profile__content {
  font-family: 'MyriadPro Regular', sans-serif;
  font-size: 0.995rem;
  margin-top: .9rem;
}

@media screen and (max-width: 576px) {
  .profile__content {
    font-size: 1.5rem;
  }
}
