include ../section-header/section-header

mixin profile(data = {})
  section.profile
    +section-header('profile')
    p.profile__content #{data.regularText || ''}
      span.profile__content.profile__content_bold #{data.boldText || ''}
