include ../section-header/section-header
include ../list/list

mixin experience(experienceList)
  section.experience
    +section-header(
      'experience',
      getAssetUrl('/experience/experience-icon.png'),
      0.6
    )

    .experience__list
      +list(experienceList)
