.section-header__title {
  font-family: 'MyriadPro Bold', sans-serif;
  font-size: 2.65rem;
  margin: {
    top: auto;
    left: .5rem;
    right: auto;
    bottom: auto;
  };
  text-transform: uppercase;
}
