include ../circle-image/circle-image

mixin section-header(title, imgUrl, imgScale)
  .section-header
    .section-header__icon
      +circle-image(imgUrl, imgScale)
    h3.section-header__title #{title}
    .section-header__line