.section-header__line {
  display: inline-block;
  flex-grow: 1;
  height: .3rem;
  margin-left: .6rem;
  background: #3d6cb0;
}

@media screen and (max-width: 576px) {
  .section-header__line {
    display: none;
  }
}
