.list__entry {
  position: relative;
  padding-left: 3.45rem;
  margin-bottom: .71rem;
}

.list__entry:before {
  content: '\25CF';
  position: absolute;
  font-size: 2.8rem;
  left: .65rem;
  top: -.65rem;
}
