include ../section-header/section-header
include ../list/list

mixin education(educationList)
  section.education
    +section-header('education', getAssetUrl('/education/education-icon.png'), 0.7)

    .education__list
      +list(educationList)
